nodeSub.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
test.log
test.trees
src/getP.o
src/nodeSub.so
src/RcppExports.o
src/getP.o
src/getP.o
*.o
*.o
*.log
*.trees
*.o
*.o
*.fasta
*.pdf
*.o
*.trace
*.txt
*.png
*.tree
*.xml
.appveyor.yml
